# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/


#System Files
.DS_Store
Thumbs.db
realworld.spaf/.vs/realworld.spaf/v15
realworld.spaf/realworld.spaf/obj
realworld.spaf/.vs
realworld.spaf/packages
realworld.spaf/realworld.spaf.web/bin
realworld.spaf/realworld.spaf.web/obj
realworld.spaf/realworld.spaf/bin
realworld.spaf/realworld.spaf.web/bridge
realworld.spaf/.idea
realworld.spaf/realworld.spaf.test/bin
realworld.spaf/realworld.spaf.test/obj
